@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: #c5e4e7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Space Mono", "Courier New", monospace;
}
body #calculator-container {
  position: relative;
  background: #fff;
  border-radius: 30px;
  height: 450px;
  width: 800px;
  padding: 30px;
  box-shadow: 0px 10px 20px -3px rgba(0, 0, 0, 0.05);
}
body #calculator-container .flex-wrap {
  display: flex;
  height: 100%;
}
body #calculator-container .flex-wrap .left {
  width: 50%;
}
body #calculator-container .flex-wrap .left label {
  display: block;
}
body #calculator-container .flex-wrap .left #bill {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
}
body #calculator-container .flex-wrap .left .tip-btns {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 33.3%);
  gap: 10px;
  font-weight: 700;
}
body #calculator-container .flex-wrap .left .tip-btns .tip-btn {
  background: #00474b;
  color: #fff;
  border: none;
  border-radius: 5px;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  text-align: center;
  transition: 0.2s ease-out;
}
body #calculator-container .flex-wrap .left .tip-btns .tip-btn:hover {
  cursor: pointer;
  color: #00474b;
  background: #9fe8df;
}
body #calculator-container .flex-wrap .left .tip-btns input {
  padding: 5px 10px;
  font-size: 25px;
}
body #calculator-container .flex-wrap .left .tip-btns input::placeholder {
  color: #a3baba;
}
body #calculator-container .flex-wrap .left input {
  background: #f3f8fb;
  border: none;
  border-radius: 5px;
  font-family: "Space Mono", "Courier New", monospace;
  font-weight: 700;
  color: #00474b;
}
body #calculator-container .flex-wrap .right {
  height: 100%;
  flex-grow: 1;
  background: #00474b;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
body #calculator-container .flex-wrap .right .tip,
body #calculator-container .flex-wrap .right .total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body #calculator-container .flex-wrap .right .tip p,
body #calculator-container .flex-wrap .right .total p {
  color: #fff;
}
body #calculator-container .flex-wrap .right .tip p span,
body #calculator-container .flex-wrap .right .total p span {
  display: block;
  color: hsl(185, 41%, 84%);
  font-size: 12px;
}
body #calculator-container .flex-wrap .right .tip .tip-amount,
body #calculator-container .flex-wrap .right .tip .total-amount,
body #calculator-container .flex-wrap .right .total .tip-amount,
body #calculator-container .flex-wrap .right .total .total-amount {
  color: #2bc1af;
  font-size: 40px;
  font-weight: 700;
}
body #calculator-container .flex-wrap .right .tip #tip-amount,
body #calculator-container .flex-wrap .right .tip #total-amount,
body #calculator-container .flex-wrap .right .total #tip-amount,
body #calculator-container .flex-wrap .right .total #total-amount {
  display: inline-block;
}
body #calculator-container .flex-wrap .right #clear-form {
  margin-top: auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  background: pink;
  height: 50px;
  line-height: 50px;
  color: #00474b;
  background: #9fe8df;
  border-radius: 5px;
  font-weight: 700;
  opacity: 0.25;
  transition: 0.2s ease-in-out;
}
body #calculator-container .flex-wrap .right #clear-form:hover {
  cursor: pointer;
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
