/*Variables*/

$primary: #1c4649;
$secondary: #cbe3e6;
$accent: #5ec0ae;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: $secondary;
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  margin: 50px auto 30px;
  padding: 30px 40px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(#000, 0.3);
  border-radius: 10px;
  max-width: 990px;
  width: 90%;

  h1 {
    text-align: center;
    line-height: 1;
    margin: 0 0 30px 0;
    font-size: 28px;
    color: $primary;
  }

  .form-wrap {
    display: flex;
    align-items: flex-start;
    align-items: stretch;
    flex-wrap: wrap;

    .left,
    .right {
      flex: 1 1 0px;
      min-width: 300px;
    }

    .left {
      padding: 15px;
      flex: 1 1 0px;

      #selectTip {
        margin: 10px 0 0 0;
        .tip-btn {
          background: $primary;
          border-radius: 3px;
          color: #fff;
          padding: 0.5em;
          font-size: 20px;
          border: none;
        }

        #customTipInput {
          background: #fff;
          border: 1px solid $secondary;
          padding: 0.5em;
          font-size: 20px;
          border-radius: 10px;
          margin: 10px 0 0 0;
        }
      }
    }

    .right {
      background: $primary;
      border-radius: 10px;
      padding: 15px 45px;
      #displayTotal {
        display: block;
        color: #fff;
        position: relative;
        font-size: 40px;

        &:before {
          position: relative;
          content: "£";
          font-size: 14px;
          margin: 0 3px 0 0;
        }
      }
    }
  }
}
